<html>

<head>

  <title>New note</title>
  <meta charset="utf-8" />

  <!-- jQuery -->
  <script type="text/javascript" src="/jquery/jquery.js"></script>

  <!-- Semantic UI -->
  <link rel="stylesheet" href="/semantic/semantic.css" type="text/css" />
  <script type="text/javascript" src="/semantic/semantic.js"></script>

  <!-- javascript -->
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/consts.js"></script>
  <script type="text/javascript" src="/js/events.js"></script>
  <% include consts.ejs %>
  <script type="text/javascript">

	function loadNotes() {
    $.ajax({
      url: '/notes',
      method: 'post',
      success: function (data) {
        $( '.ui.sidebar.menu' ).empty().append('<a href="/new" class="item"><i class="plus icon"></i>Create a new note</a>');
        for (var i = 0; i < data.length; i++)
          $( '.ui.sidebar.menu' ).append('<a href="note/' + data[i].id + '" class="item">' + data[i].name + '</a>');
      }
    });
	}

    $( document ).ready(function () {

      loadNotes();

      $('.ui.form')
      .form({
        fields: {
          name: {
            identifier: 'name',
            rules: [
              {
                type   : 'empty',
                prompt : 'You must enter a note name'
              }
            ]
          },
          content: {
            identifier: 'content',
            rules: [
              {
                type   : 'empty',
                prompt : 'You must enter a note content'
              }
            ]
          }
        },
        onSuccess: function () {
          $( '.ui.form .submit.button' ).addClass('loading');
          $.ajax({
            url: '/create',
            method: 'post',
            data: { name: $( '#name' ).val(), content: $( '#content' ).val() },
            success: function (created) {
              if (created == true) {
                $( '.ui.positive.message .header' ).empty().append('Success !');
                $( '.ui.positive.message p' ).empty().append('The new note \'' + $( '#name' ).val() + '\' was created');
                $( '.ui.positive.message' ).fadeIn('fast');
                socket.emit('addNote');
              } else if (created == false) {
                $( '.ui.negative.message .header' ).empty().append('Error !');
                $( '.ui.negative.message p' ).empty().append('Could not create the new note \'' + $( '#name' ).val() + '\'');
                $( '.ui.negative.message' ).fadeIn('fast');
              } else {
                $( '.ui.negative.message .header' ).empty().append('Error !');
                $( '.ui.negative.message p' ).empty().append('Could not create the new note \'' + $( '#name' ).val() + '\':<br />' + created);
                $( '.ui.negative.message' ).fadeIn('fast');
              }
            },
            complete: function () { $( '.ui.form .submit.button' ).removeClass('loading'); }
          });
          return false;
        }
      });

    });

  </script>

</head>

<body>

  <!-- Notes menu -->
  <div class="ui left demo vertical visible inverted sidebar menu">
  </div>

  <div class="ui fluid very paded text container segment">

    <div class="ui hidden positive message">
      <i class="close icon"></i>
      <div class="header">
      </div>
      <p></p>
    </div>

    <div class="ui hidden negative message">
      <i class="close icon"></i>
      <div class="header">
      </div>
      <p></p>
    </div>

    <h2>Create a new note</h2>
    <form class="ui fluid form">
      <div class="ui field">
        <label>Name</label>
        <div class="ui input left icon">
          <i class="left edit icon"></i>
          <input type="input" placeholder="Ex: Nuclear codes" name="name" id="name" />
        </div>
      </div>
      <div class="ui field">
        <label>Content</label>
        <textarea placeholder="Ex: 2 + 2 is 4" name="content" id="content"></textarea>
      </div>
      <div class="ui submit button primary">
        <i class="left icon check"></i>
        Create the note
      </div>
    </form>
  </div>

</body>

</html>
