<html>

<head>

  <title><%= name %></title>
  <meta charset="utf-8" />

  <!-- jQuery -->
  <script type="text/javascript" src="/jquery/jquery.js"></script>

  <!-- Semantic UI -->
  <link rel="stylesheet" href="/semantic/semantic.css" type="text/css" />
  <script type="text/javascript" src="/semantic/semantic.js"></script>

  <!-- javascript -->
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/consts.js"></script>
  <script type="text/javascript" src="/js/events.js"></script>
  <% include consts.ejs %>
  <script type="text/javascript">

	 function loadNotes() {
  		$.ajax({
  			url: '/notes',
  			method: 'post',
  			success: function (data) {
  			  $( '.ui.sidebar.menu' ).empty().append('<a href="/new" class="item"><i class="plus icon"></i>Create a new note</a>');
  			  for (var i = 0; i < data.length; i++) {
  				if (data[i].id != <%= id %>)
  				  $( '.ui.sidebar.menu' ).append('<a href="' + data[i].id + '" class="item">' + data[i].name + '</a>');
  				else
  				  $( '.ui.sidebar.menu' ).append('<a href="' + data[i].id + '" class="active item">' + data[i].name + '</a>');
  			  }
  			}
		  });
	  }

    function deleteNote() {
      console.log('0');
      $.ajax({
       url: '/delete',
       method: 'post',
       data: { id: <%= id %> },
       success: function (deleted) {
         console.log('1');
         $( '.ui.warning.message' ).fadeOut('fast').delay(500, function () {
           if (deleted == true) {
             console.log('2');
             $( '.ui.positive.message .header' ).empty().append('Success !');
             $( '.ui.positive.message p' ).empty().append('The new note \'<%= name %>\' was delete');
             $( '.ui.positive.message' ).fadeIn('fast');
             socket.emit('addNote');
             window.location.replace('/');
           } else if (deleted == false) {
             console.log('3');
             $( '.ui.negative.message .header' ).empty().append('Error !');
             $( '.ui.negative.message p' ).empty().append('Could not delete the note \'<%= name %>\'');
             $( '.ui.negative.message' ).fadeIn('fast');
           } else {
             console.log('4');
             $( '.ui.negative.message .header' ).empty().append('Error !');
             $( '.ui.negative.message p' ).empty().append('Could not delete the note \'<%= name %>\':<br />' + deleted);
             $( '.ui.negative.message' ).fadeIn('fast');
           }
         });
       }
     });
    }

    function stopDeleteNote() {
      $( '.ui.warning.message' ).fadeOut('fast');
    }

    $( document ).ready(function () {

	     loadNotes();
       $( '#noteEditor' ).hide();

       $( '#editNote' ).click(function () {
         $( '#noteViewer' ).fadeOut('fast').delay(500, function () {
           $( '#noteEditor' ).fadeIn('fast');
         });
         return false;
       });

       $( '#stopEditNote' ).click(function () {
         $( '#noteEditor' ).fadeOut('fast').delay(500, function () {
           $( '#noteViewer' ).show('fast');
         });
       });

       $( '#deleteNote' ).click(function () {
         $( '.ui.warning.message' ).empty().append('<i class="close icon"></i><div class="header"></div><p></p>');
         $( '.ui.warning.message .header' ).empty().append('Really ?');
         $( '.ui.warning.message p' ).empty().append('Do you want to delete the note <%= name %> ?');
         $( '.ui.warning.message' ).append('<div class="ui icon button" onclick="deleteNote()"><i class="check icon"></i></div><div class="ui icon button" onclick="stopDeleteNote()"><i class="times icon"></i></div>').fadeIn('fast');
       });

       $( '#stopDeleteNote' ).click(function () {
         $( '.ui.warning.message' ).fadeOut('fast');
       });

       $('.ui.form')
       .form({
         fields: {
           name: {
             identifier: 'name',
             rules: [
               {
                 type   : 'empty',
                 prompt : 'You must enter a note name'
               }
             ]
           },
           content: {
             identifier: 'content',
             rules: [
               {
                 type   : 'empty',
                 prompt : 'You must enter a note content'
               }
             ]
           }
         },
         onSuccess: function () {
           $( '.ui.form .submit.button' ).addClass('loading');
           $.ajax({
             url: '/edit',
             method: 'post',
             data: { id: <%= id %>, name: $( '#name' ).val(), content: $( '#content' ).val() },
             success: function (edited) {
               if (edited == true) {
                 $( '.ui.positive.message .header' ).empty().append('Success !');
                 $( '.ui.positive.message p' ).empty().append('The note \'' + $( '#name' ).val() + '\' was edited');
                 $( '.ui.positive.message' ).fadeIn('fast');
                 socket.emit('addNote');
               } else if (edited == false) {
                 $( '.ui.negative.message .header' ).empty().append('Error !');
                 $( '.ui.negative.message p' ).empty().append('Could not edit the note \'' + $( '#name' ).val() + '\'');
                 $( '.ui.negative.message' ).fadeIn('fast');
               } else {
                 $( '.ui.negative.message .header' ).empty().append('Error !');
                 $( '.ui.negative.message p' ).empty().append('Could not edit the note \'' + $( '#name' ).val() + '\':<br />' + edited);
                 $( '.ui.negative.message' ).fadeIn('fast');
               }
             },
             complete: function () { $( '.ui.form .submit.button' ).removeClass('loading'); }
           });
           return false;
         }
       });
    });

  </script>

</head>

<body>

  <div class="ui bottom attached segment pushable">
    <div class="ui left demo vertical visible inverted sidebar menu">
    </div>
    <div class="pusher">
      <div class="ui fluid very paded basic segment">

        <div class="ui hidden positive message">
          <i class="close icon"></i>
          <div class="header">
          </div>
          <p></p>
        </div>

        <div class="ui hidden negative message">
          <i class="close icon"></i>
          <div class="header">
          </div>
          <p></p>
        </div>

        <div class="ui hidden warning message">
          <i class="close icon"></i>
          <div class="header">
          </div>
          <p></p>
        </div>

        <div class="ui fluid segment">
          <div id="noteViewer">
            <h2>
              <%= name %>
              <div class="ui icon button" id="editNote">
                <i class=" edit icon"></i>
                Edit this note
              </div>
              <div class="ui icon button" id="deleteNote">
                <i class="times icon"></i>
                Delete this note
              </div>
            </h2>
            <p><%= content %></p>
            <p>Created on <%= creationDate %></p>
          </div>
          <div id="noteEditor">
            <h2>Modifier la note</h2>
            <form class="ui form">
              <div class="ui field">
                <label>Name</label>
                <div class="ui input">
                  <input value="<%= name %>" name="name" id="name" />
                </div>
              </div>
              <div class="ui field">
                <label>Content</label>
                <textarea placeholder="Content" name="content" id="content"><%= content %></textarea>
              </div>
              <button class="ui submit button primary">
                Edit this note
              </button>
              <div class="ui icon button" id="stopEditNote">
                <i class="times icon"></i>
                Cancel
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
