<html>

<head>

  <title>Your notes</title>
  <meta charset="utf-8" />

  <!-- jQuery -->
  <script type="text/javascript" src="/jquery/jquery.js"></script>

  <!-- Semantic UI -->
  <link rel="stylesheet" href="/semantic/semantic.css" type="text/css" />
  <script type="text/javascript" src="/semantic/semantic.js"></script>

  <!-- javascript -->
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/consts.js"></script>
  <script type="text/javascript" src="/js/events.js"></script>
  <% include consts.ejs %>
  <script type="text/javascript">

	function loadNotes() {
		  $.ajax({
    		url: '/notes',
    		method: 'post',
    		success: function (data) {
    		  $( '.ui.sidebar.menu' ).empty().append('<a href="/new" class="item"><i class="plus icon"></i>Create a new note</a>');
    		  for (var i = 0; i < data.length; i++)
    			$( '.ui.sidebar.menu' ).append('<a href="note/' + data[i].id + '" class="item">' + data[i].name + '</a>');
    		}
		  });
	  }

    $( document ).ready(function () {

	  loadNotes();
    });

  </script>

</head>

<body>

  <!-- Notes menu -->
  <div class="ui left demo vertical visible inverted sidebar menu">
  </div>

</body>

</html>
